* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url(../assets/images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.banner-bacground {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.banner-wrap {
    display: flex;
    justify-content: space-between;
}

.banner-logo {
    width: 670px;
}

.banner-logo__logo {
    margin-bottom: 51px;
}

.banner-logo__title {
    font-family: 'Raleway-Medium';
    font-size: 48px;
    line-height: 56px;
    margin-right: 30px;
    color: #FFFFFF;
}

.banner-logo__title::after {
    content: '';
    display: block;
    width: 170px;
    height: 1px;
    background-color: #FFFFFF;
    margin-top: 55px;
    margin-bottom: 42px;
}

.banner-logo__text {
    width: 270px;
    font-family: 'Raleway-Regular';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.logo__button {
    width: 270px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-family: 'OpenSans-SemiBold';
    font-size: 18px;
    line-height: 25px;
    padding: 14px 0;
}

.logo__button:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
    cursor: pointer;
}

.logo__button:active {
    border: 2px solid #AB4949;
    background-color: #AB4949;
    color: #FFFFFF;
}

form {
    display: flex;
    flex-direction: column;
}

.banner-reg {
    width: 470px;
    align-self: center;
    align-content: stretch;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-top: 350px;
    margin-bottom: 350px;
}

.banner-reg__title {
    text-align: center;
    font-family: 'OpenSans-Bold';
    font-size: 24px;
    line-height: 33px;
    padding: 29px 0;
    margin-bottom: 45px;
}

.banner-regcard {
    padding: 0 50px;
    margin-bottom: 44px;
}

label {
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

#banner {
    width: 370px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    margin-bottom: 33px;
}

#banner-button {
    width: 470px;
    text-align: center;
    border: none;
    border-radius: 0px 0px 10px 10px;
    color: #FFFFFF;
    background-color: #EC7979;
    padding: 20px 0;
    font-family: 'OpenSans-SemiBold';
    font-size: 15px;
    line-height: 20px;
}

#banner-button:hover {
    background-color: #AB4949;
    cursor: pointer;
}

#banner-button:active {
    background-color: #EC7979;
}

#color {
    color: #EC7979;
}

@media (max-width: 320px) {
    .banner-wrap {
        flex-direction: column;
    }

    .banner-logo {
        width: 288px;
    }

    .banner-logo__title {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        margin: 0;
        margin-top: 84px;
    }

    .banner-logo__title::after {
        margin: 0 auto;
        margin-top: 42px;
        margin-bottom: 43px;
    }

    .banner-logo__text {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }

    .banner-logo__button {
        text-align: center;
        margin-bottom: 56px;
    }

    .banner-reg {
        width: 288px;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .banner-reg__title {
        font-size: 14px;
        line-height: 19px;
        padding: 35px 0;
    }

    #banner {
        width: 240px;
    }
    .banner-regcard{
        padding: 0;
        padding-left: 20px;
    }
    #banner-button{
        width: 288px;
    }
}