* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

.header {
    width: 100%;
    background-color: #000000;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
}

.header-wrap {
    background-color: #000000;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    padding: 18px 0;
}

.header-menu {
    align-self: center;
    height: 100%;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    line-height: 19px;
    margin-left: 400px;
}

.header-menu__link {
    color: #FFFFFF;
    list-style-type: none;
}

.header-menu__link li {
    display: inline;
    margin: 0 25px;
}

.header-menu__link li a{
    color: #FFFFFF;
    text-decoration: none;
}

.header-menu__link li a:hover{
    color: #EC7979;
}