* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.social {
    background: #F8EFEF;
    margin: 0 auto;
    margin-bottom: 99px;
}

.social-wrap {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-self: center;
}

.social-aside {
    margin-right: 50px;
    margin-bottom: 18px;
}

.social-aside__title {
    font-family: 'OpenSans-Bold';
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 18px;
    padding: 13px 0;
}

.social-aside__text {
    font-family: 'Raleway-Regular';
    font-size: 18px;
    line-height: 21px;
}

.social-icon {
    display: flex;
    align-self: center;
    font-size: 48px;
    color: #CCCCCC;
}

@media (max-width: 320px) {
    .social-wrap {
        flex-direction: column;
        align-content: center;
        align-content: center;
    }

    .social-aside__title {
        font-size: 18px;
        line-height: 25px;
    }

    .social-aside__text {
        font-size: 14px;
        line-height: 16px;
    }

    .social-aside {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 35px;
    }

    .social-icon {
        font-size: 20px;
    }
}