@import url(/styles/fonts.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tabs {
    margin-bottom: 50px;
}

.tabs-wrap {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;    
}

.tabs-items{
    display: flex;
    flex-wrap: wrap;
}

.tabs-items input[type="radio"]{
    display: none;
}

.tabs-items label{
    padding: 10.5px 82.5px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: white;
}

.tabs-items .tabs__block{
    order: 1;
    display: none;
}

.tabs-items input[type='radio']:checked+label +.tabs__block {
    display: block;
}

.tabs__block {
    display: none;
    border: 1px solid #C6CBCD;
}

.tab-body__title {
    font-family: 'OpenSans-Bold';
    font-size: 30px;
    line-height: 41px;
    padding: 41px 0;
    margin-left: 100px;
    margin-right: 500px;
    margin-bottom: 27px;
}

.tab-body__text {
    font-family: 'Raleway-Regular';
    font-size: 18px;
    line-height: 21px;
    padding: 21px 0;
    margin-left: 100px;
    margin-right: 500px;
    margin-bottom: 27px;
    color: #000000;
}

#tab__btn {
    width: 270px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    background-color: #EC7979;
    padding: 16px 0;
    margin-left: 100px;
    margin-bottom: 54px;
    font-family: 'OpenSans-SemiBold';
    font-size: 18px;
    line-height: 25px;
}

#tab__btn:hover {
    background-color: #AB4949;
    cursor: pointer;
}

#tab__btn:active {
    background-color: #EC7979;
}

@media(max-width: 320px){

    .tabs-wrap{
        width: 288px;
    }
    .tabs-items{
        width: 288px;
    }
    .tabs-block{
        width: 288px;
    }
    .tab-image{
        display: none;
    }
    .tabs-items label{
        flex-direction: row;
    }
    .tab-body__title{
        margin: 0;
        width: 288px;
    }
    .tab-body__text{
        margin: 0;
        width: 288px;
    }
}