@import url(/styles/fonts.css);

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.section{
    background-color: #F5F5F5;
}

.container-3{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
}

.header__title{
    font-family: 'Raleway-Regular';
    font-size: 36px;
    text-transform: uppercase;
    padding: 57px 0;
}

hr{
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    background-color: #EC7979;
}

.header__subtitle{
    font-family: 'Raleway-Regular';
    font-size: 18px;
    color: #86878B;
    margin: 40px 0;
}

.cards{
    display: flex;
    margin: 0px -15px;
    height: 600px;
}

.card-price{
    padding: 0 15px;
    flex: 0 0 33.333%;
}

.card-price__title{
    text-align: center;
}

.card-price__text{
    text-align: center;
    list-style-type: none;
}

.card-price__1{
    align-self: center;
}

.card-price__2{
    align-self: flex-start;
}

.card-price__3{
    align-self: center;
}

.item{
    font-family: 'Raleway-Regular';
    font-size: 18px;
    color: #86878B;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    padding: 14px 0;
}

#title{
    font-family: 'OpenSans-Bold';
    font-size: 24px;
    color: #FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
    padding: 14px 0;
}

#price{
    font-family: 'Raleway-Bold';
    font-size: 36px;
    color: #FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
    padding: 29px 0;
}

#text{
    font-family: 'Raleway-Regular';
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    background: #333333;
    border: 2px solid #F5F5F5;
    padding: 14px 0;
}
